@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-component: #4EC9B0;
  --color-keyword: #569CD6;
  --color-string: #CE9178;
  --color-bracket: #808080;
  --color-function: #DCDCAA;
  --color-number: #B5CEA8;
}

@layer components {
  .link-with-brackets:hover::before {
    content: '<';
    color: var(--color-bracket);
    left: -1em;
  }

  .link-with-brackets:hover::after {
    content: '/>';
    color: var(--color-bracket);
    right: -1em;
  }
}
